@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for this specific component */
* {
  -ms-overflow-style: none;       /* For Internet Explorer and Edge */
  scrollbar-width: none;          /* For Firefox */
}

*::-webkit-scrollbar {
  display: none;                  /* For Chrome, Safari, and Opera */
}

/* styles/globals.css */

.my-masonry-grid {
  @apply flex -ml-4 w-auto;
  /* Equivalent to display: flex; margin-left: -1rem; width: auto; */
}

.my-masonry-grid_column {
  @apply pl-4 bg-clip-padding;
  /* Equivalent to padding-left: 1rem; background-clip: padding-box; */
}

/* Optional: Add spacing between items */
.my-masonry-grid_column > div {
  @apply mb-4;
  /* Equivalent to margin-bottom: 1rem; */
}
